<!DOCTYPE html>
<html dir="rtl" lang="fa">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- <script src="assets/lib/eruda/eruda.js"></script>
  <script>eruda.init();</script> -->
  <!-- <script type="text/javascript" charset="utf-8">
    console.log(window.innerWidth)
  </script> -->

  <link rel="preload" href="assets/lib/vue/dist/vue.min.js" as="script">
  <link rel="preload" href="assets/lib/bootstrap/dist/css/bootstrap.rtl.min.css" as="style">
  <link rel="preload" href="assets/fonts/suls/styles.css" as="style">
  <link rel="preload" href="assets/fonts/vazir/styles.css" as="style">
  <link rel="preload" href="assets/js/main.js" as="script">
  <link rel="preload" href="assets/css/main.css" as="style">

  <link rel="preload" href="assets/img/mypic.jpg" as="image">
  <link rel="preload" href="assets/img/responsive-design.jpg" as="image">
  <link rel="preload" href="assets/img/develope-website.jpg" as="image">
  <link rel="preload" href="assets/img/website-support.jpg" as="image">
  <link rel="preload" href="assets/img/4103157_1026.jpg" as="image">
  <link rel="preload" href="assets/img/stage-en-create-wordpress-site-without-coding-1024x538.png.webp" as="image">
  <link rel="preload" href="assets/img/coding.webp" as="image">
  <link rel="preload" href="assets/img/12067674_4906450.jpg" as="image">
  <link rel="preload" href="assets/img/33533011_8058227.jpg" as="image">
  <!-- <link rel="preload" href="favicon.ico"> -->

  <!-- bootstrap -->
  <link rel="stylesheet" href="assets/lib/bootstrap/dist/css/bootstrap.rtl.min.css" type="text/css" media="all">
  <!-- fonts -->
  <link rel="stylesheet" href="assets/fonts/suls/styles.css" type="text/css" media="all">
  <link rel="stylesheet" href="assets/fonts/vazir/styles.css" type="text/css" media="all">
  <!-- customize styles -->
  <link rel="stylesheet" href="assets/css/main.css" type="text/css" media="all">

  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

  <title>
    محمدصالح محمدی
  </title>

  <style>
    ::-webkit-scrollbar {
      width: 10px;
      background-color: gainsboro;
    }

    ::-webkit-scrollbar-button {
      display: none;
    }

    ::-webkit-scrollbar-thumb {
      background-color: black;
    }
  </style>
</head>

<body>
  <div id="goUp" class="position-fixed bottom-0 start-0 p-3 p-md-4" style="z-index: 10;">
    <button class="btn btn-dark opacity-50 p-1 p-md-2 border border-light">
      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-up"
        viewBox="0 0 16 16">
        <path fill-rule="evenodd"
          d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z">
      </svg>
    </button>
  </div>

  <header class="position-relative min-vh-100 mb-3 mb-md-5">
    <div class="header-bg">
      <img src="assets/img/header-1.jpg" alt="" class="w-100 min-vh-100 bg-info" loading="lazy">
      <!-- <script type="text/javascript" charset="utf-8">
        alert(window.innerWidth)
      </script> -->
    </div>
    <div
      class="position-absolute top-0 d-flex flex-column justify-content-center align-items-center w-100 h-100 p-3 p-md-5">
      <h1 class="position-relative border border-3 rounded text-light ff-suls p-4 p-md-5 text-center">
        <b>
          محمدصالح محمدی
        </b>
        هستم
      </h1>
      <h1 class="position-relative border border-3 rounded text-light ff-suls p-4 p-md-5 text-center">
        برنامه نویس وب
      </h1>
      <!-- <h1 class="position-relative border border-3 rounded text-light ff-suls p-4 p-md-5 text-center">
        در خدمت شما!
      </h1> -->
    </div>
  </header>

  <main class="main">
    <!-- menu navbar -->
    <!-- assets/navbar.html -->

    <div class="container">
      <div class="row">
        <div class="">
          <!-- about me -->
          <div id="aboutMe" class="p-1 my-4">
            <h2 class="text-center ff-suls col-12 p-2 p-md-3 mx-auto border-top border-bottom border-3">
              درباره من
            </h2>
            <div class="d-flex flex-wrap justify-content-center align-items-start">
              <!-- my picture -->
              <div id="myPicture"
                class="p-2 p-lg-4 mb-3 mb-md-auto col-12 d-md-flex flex-md-row-reverse align-items-center">
                <p class="text-center col-12 col-md-6 p-2 px-md-5 mx-auto mb-3 mb-md-0">
                  {{aboutMe.text}}
                </p>
                <div class="card col-md-9 col-lg-5 mx-auto">
                  <img v-bind:src="myPicture.src" alt="my picture" loading="lazy" class="card-img">
                </div>
              </div>
              <!-- personal info -->
              <div id="personalInfo" class="p-2 p-lg-4 col-12 col-md-6">
                <div class="card bg-primary text-light">
                  <div class="card-header ff-suls">
                    اطلاعات فردی
                  </div>
                  <ul class="list-group list-group-flush">
                    <li v-for="item in personalInfo.list" class="list-group-item">
                      {{ item.title }}: {{ item.content }}
                    </li>
                  </ul>
                </div>
              </div>
              <!-- contact info -->
              <div id="contactInfo" class="p-2 p-lg-4 col-12 col-md-6">
                <div class="card bg-primary text-light">
                  <div class="card-header ff-suls">
                    اطلاعات تماس
                  </div>
                  <ul class="list-group list-group-flush">
                    <li v-for="item in contactInfo.list" class="list-group-item">
                      {{ item.title }}:
                      <bdo dir="ltr">{{ item.content }}</bdo>
                      <small>
                        (
                        <a v-bind:href="item.linkHref">
                          {{ item.linkText }}
                        </a>
                        )
                      </small>
                    </li>
                  </ul>

                </div>
              </div>
              <!-- skills -->
              <div id="skills" class="p-2 p-lg-4 col-12">
                <div class="card bg-primary text-light">
                  <div class="card-header ff-suls">
                    مهارت ها
                  </div>
                  <ul class="list-group list-group-flush">
                    <li v-for="item in skills.list"
                      class="list-group-item d-flex flex-row justify-content-center align-content-between align-items-center">
                      <div class="text-center w-25 me-1 d-flex justify-content-center align-items-center"
                        style="font-size: .8em;">
                        <span>{{ item.title }}</span>
                      </div>
                      <div class="w-75 ms-1">
                        <div class="progress">
                          <div class="progress-bar bg-pink progress-bar-striped progress-bar-animated"
                            role="progressbar" v-bind:aria-valuenow="item.percent" aria-valuemin="0" aria-valuemax="100"
                            v-bind:style="'width:'+item.percent+'%'">
                            {{ item.percent }}%
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- courses, Education_Courses -->
              <!-- <div id="educationCourses" class="p-2 p-lg-4 col-12 col-md-6">
                <div class="card bg-primary text-light">
                  <div class="card-header ff-suls">
                    دوره های آموزشی
                  </div>
                  <ul class="list-group list-group-flush">
                    <li v-for="item in educationCourses.list" class="list-group-item">
                      {{ item.title }}: {{item.type }}
                    </li>
                  </ul>
                </div>
              </div> -->
              <!-- degrees, degrees_certificates_honors -->
              <!-- <div id="degrees_certificates_honors" class="p-2 p-lg-4 col-12 col-md-6">
                <div class="card bg-primary text-light">
                  <div class="card-header ff-suls">
                    مدارک، گواهینامه ها، افتخارات
                  </div>
                  <ul class="list-group list-group-flush">
                    <li v-for="item in degrees_certificates_honors.list" class="list-group-item">
                      <p class="mb-0">{{ item.title }}</p>
                      <a v-bind:href="item.file_link" target="_blank" class="small text-muted">{{ item.file_link }}</a>
                    </li>
                  </ul>
                </div>
              </div> -->
              <!-- work experiences -->
              <div id="workExperiences" class="p-2 p-lg-4 col-12 col-md-6">
                <div class="card bg-primary text-light">
                  <div class="card-header ff-suls">
                    سوابق کاری
                  </div>
                  <ul class="list-group list-group-flush">
                    <li v-for="item in workExperiences.list" class="list-group-item">
                      {{ item.title }}:
                      از
                      {{ item.startDate }}
                      تا
                      {{ item.endDate }}
                      <span v-if="item.company !== ''">
                        در
                        {{ item.company }}
                      </span>
                      <span v-if="item.duty !== ''">
                        به عنوان
                        {{ item.duty }}
                      </span>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- character recegnition tests -->
              <div id="characterRecegnitionTests" class="p-2 p-lg-4 col-12 col-md-6">
                <div class="card bg-primary text-light">
                  <div class="card-header ff-suls">
                    تست های شخصیت شناسی
                  </div>
                  <ul class="list-group list-group-flush">
                    <li v-for="item in characterRecegnitionTests.list" class="list-group-item">
                      <a v-bind:href="item.link" target="_blank">
                        {{ item.title }}
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- hobbies, Hobbies and interests -->
              <div id="hobbiesAndInterests" class="p-2 p-lg-4 col-12 col-md-6">
                <div class="card bg-primary text-light">
                  <div class="card-header ff-suls">
                    سرگرمی ها و علایق
                  </div>
                  <ul class="list-group list-group-flush">
                    <li v-for="item in hobbiesAndInterests.list" class="list-group-item">
                      {{ item.title }}
                    </li>
                  </ul>
                </div>
              </div>
              <!-- Educational_background -->
              <div id="educationalBackground" class="p-2 p-lg-4 col-12 col-md-6">
                <div class="card bg-primary text-light">
                  <div class="card-header ff-suls">
                    سوابق تحصیلی
                  </div>
                  <ul class="list-group list-group-flush">
                    <li v-for="item in educationalBackground.list" class="list-group-item">
                      {{ item.title }}:
                      {{ item.university }}،
                      از
                      {{ item.startDate }}
                      تا
                      {{ item.endDate }}
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <!-- <hr > -->

          <!-- services -->
          <div id="services" class="p-1 my-4">
            <h2 class="text-center ff-suls col-12 p-2 p-md-3 mx-auto border-top border-bottom border-3">
              سرویس ها
            </h2>
            <!-- <p class="text-center col-12 col-md-6 p-2 mx-auto my-3"></p> -->
            <div class="d-flex flex-wrap justify-content-center align-items-start">
              <div v-for="item in list" class="col-12 col-md-5 col-xl-3 p-2 p-lg-4">
                <div class="card border-primary text-primary">
                  <img v-bind:src="item.imageSrc" class="card-img-top" alt="image">
                  <div class="card-body">
                    <h5 class="card-title">
                      {{ item.title }}
                    </h5>
                    <p class="card-text">
                      {{ item.content }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- <hr > -->

          <!-- contact me -->
          <!-- <div id="contactMe" class="p-1 my-4">
            <h2 class="text-center ff-suls col-12 p-2 p-md-3 mx-auto border-top border-bottom border-3">
              تماس با من
            </h2>
            <div class="d-flex flex-wrap justify-content-center align-items-start">
              <div class="card col-12 col-md-9 col-xl-6">
                <div id="myLocation" class="card-img-top overflow-hidden" style="height: 20rem;">
                  <iframe class="w-100 h-100"
                    src="https://maps.google.com/maps?width=0&amp;height=0&amp;hl=fa&amp;title=fa&amp;q=%D8%B4%D9%87%D8%B1%DA%A9%20%D8%B4%D9%87%DB%8C%D8%AF%20%D9%85%D8%B7%D9%87%D8%B1%DB%8C%20%D8%A8%D8%A7%D8%BA%D8%B3%D8%AA%D8%A7%D9%86+(hhhhhhh)&amp;ie=UTF8&amp;t=r&amp;z=10&amp;iwloc=B&amp;output=embed"
                    frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                </div>
                <div class="card-body">
                  <form class="form" action="" method="post" accept-charset="utf-8">
                    <input type="text" name="subject" id="subject" class="form-control my-1" placeholder="عنوان">
                    <input type="email" name="email" id="email" required class="form-control text-start my-1"
                      placeholder="ایمیل">
                    <textarea name="message" id="message" rows="5" class="form-control my-1" placeholder="متن پیام"
                      required></textarea>
                    <button type="submit" class="btn btn-success w-100 my-2" disabled>
                      ارسال
                    </button>
                    <div class="d-flex justify-content-around align-items-center px-1 mt-3">
                      <a href="https://wa.me/989195600184" target="_blank"
                        class="btn bg-light-green text-dark col-6 mx-1">
                        پیام در واتساپ
                      </a>
                      <a href="tel:+989195600184" class="btn btn-primary text-light col-6 mx-1">
                        تماس تلفنی
                      </a>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </main>

  <footer class="bg-dark text-light text-muted mt-3 mt-md-5">
    <div class="container">
      <div class="row">
        <div class="py-2">
          <p class="text-center p-2 m-auto">
            <!-- تمامی حقوق متعلق به
            <bdo dir="ltr">MSM</bdo>
            میباشد -->

            ایمیل:
            <bdo dir="ltr">salehmohammadi@chmail.ir</bdo>
            <br>
            تلفن:
            <bdo dir="ltr">09195600184</bdo>
          </p>
        </div>
      </div>
    </div>
  </footer>

  <!-- vue -->
  <script src="assets/lib/vue/dist/vue.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="assets/js/main.js" type="text/javascript" charset="utf-8"></script>
  <!-- <script src="assets/js/worker.setup.js" type="text/javascript" charset="utf-8"></script> -->
</body>

</html>